*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- shared styles --- */

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #ffffff;
    background-color: #7f60a9;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

/* --- main styles --- */

/* navbar */

.navbar{
    background-color: #1A0B2E;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .logo{
    margin: 30px 0px;
}
.navbar .logo span{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text; 
    color: transparent;
}
.nav-list{
    display: flex;

}
.nav-list li{
    margin: 30px 32px 30px 0px;
    list-style: none;
}
.nav-list li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
.subs{
    display: flex;
    align-items: center;
    gap: 4px;
}
.hamburger{
    display: none;
}


/* responsive for small device */

@media screen and (max-width: 576px) {
    
    /* navbar */
    .subs ,.nav-list{
        display: none ;
    }
    .hamburger{
        display: block;
    }
}