*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- shared styles --- */

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}


/* --- main styles --- */

/* navbar */

.navbar{
    background-color: #1A0B2E;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .logo{
    margin: 30px 0px;
    font-size: 2.5rem;
}
.navbar .logo span{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text; 
    color: transparent;
}
.nav-list{
    display: flex;
}
.nav-list li{
    margin: 30px 32px 30px 0px;
    list-style: none;
}
.nav-list li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}
.nav-list li a:hover{
    color: #00FF88;
}
.subs{
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all 0.2s ease-in-out;
}
.subs:hover{
    background: transparent;
    color: #00FF88;
    border: 2px solid #00FF88;
}
.hamburger{
    display: none;
}

/* hero */

.hero{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
@keyframes circle {
   0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.circle{
    width: 350px;
    height: 350px;
    border: 8px solid #250D44;
    box-shadow: 0 0 40px rgba(155, 140, 255, 0.1);
    border-radius: 50%;
    position: absolute;
    position: relative;
    background: linear-gradient(45deg, #b0a529 0%, #FF00A2 45%, #6200af 70%, #FB09B4 100%);
    background-size: 400% 400%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: circle 4s ease-in-out 1s infinite alternate;
}
.mic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-15px); 
    }
}
.new{
    position: absolute;
    box-shadow: 0 0 20px rgba(168, 255, 214, 0.8);
    background-color: #00FF88;
    border: none;
    border-radius: 50px;
    top: 10%;
    left: 78%;  
    animation: bounce 1.5s ease-in-out infinite alternate;
}
.new p{
    padding: 8px 16px;
    font-weight: 600;
    color: #1A0B2E;
}
.intro{
    margin-top: 16em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.title{
    font-size: 3.75rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 15px;
}
.intro-paragraph{
    color: #adadad;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 35px;
}
.intro-button{
    display: flex;  
}
.spotify{
    display: flex;
    align-items: center;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}
.spotify-img{
    margin-right: 10px;
}
.spotify:hover{
    transform: translateY(-5px);
}
.message{
    display: flex;
    align-items: center;
    background: transparent;
    color: #00FF88;
    border: 2px solid #00FF88;
    transition: all 0.3s ease-in-out;
}
.message-img{
    margin-right: 10px;
}
.message:hover{
    transform: translateY(-5px);
}

/* about section */

.about{
    color: #ffffff;
    background-color: #1A0B2E;
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 200px;
}
.about-content h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-content p{
    margin-bottom: 8px;
    color: #adadad;
}
.about-content .join-paragraph{
    margin-top: 32px;
    margin-bottom: 50px;
}
.about-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    padding: 80px 0px 120px 0px;
    text-align: center;
    margin: 0px 200px;
    border-top: 1px solid #303030;
}
.about-card-content h1{
    color: #00FF88;
    font-weight: 700;
    font-size: 3rem;
}

/* why section */

.why{
    background-color: #230E3D;
    padding-top: 120px;
}
.why h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}
.grid-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 50px 200px 120px 200px;
}
.grid-content{
    background: rgba(53, 17, 101, 0.4) ;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}
.grid-content h3{
    margin: 16px 0px;
    font-weight: 700;
    font-size: 1.5rem;
}
.grid-content p{
    color: #adadad;
}
.content1{
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 150px 40px 0px 40px;
}
.content2{
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 40px;
}
.content3{
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 40px;
}
.content4{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 40px;
}
.content5{
    padding: 40px;
}

/* podcast section */

.podcast{
    background-color: #1A0B2E;
    padding: 120px 200px 120px 200px;
}
.podcast h2{
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.podcast-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.podcast-card-content iframe{
    border-radius: 25px 25px 0px 0px;
}
.podcast-card-content{
    width: 380px;
    background-color: #250D44;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.08);
    transition: transform 0.3s ease
}
.podcast-card-content:hover{
    transform: translateY(-15px);
    box-shadow: 0 15px 40px rgba(255, 255, 255, 0.1);

}
.podcast-card-content h3{
    margin: 24px 24px 24px 24px;
    font-size: 1.5rem;
    font-weight: 700;
}
.podcast-card-content p{
    margin: 0px 24px 24px 24px;
    color: #adadad;
}
.clock{
    display: flex;
    margin: 0px 24px 24px 24px;
}
.clock img{
    width: 20px;
    height: 20px;
}
.clock p{
    margin: 0px 8px;
    color: #00FF88;
}

/* host section */

.host{
    background-color: #1A0B2E;
    color: #ffffff;
    padding: 0px 330px 120px 330px;
}
.host-container h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.host-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.08);
}
.host-content h3{
    font-size: 2.5rem;
    font-family: 700;
    margin-bottom: 16px;
}
.host-content p{
    margin-bottom: 16px;
    color: #adadad;
}
.host-links{
    display: flex;
    gap: 8px;
}
.host-links img{
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid #533C72;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.host-links img:hover{
    border: 1px solid #00FF88;
}

/* footer */

footer{
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    padding: 120px 0px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-content h1{
    font-size: 3.5rem;
    font-weight: 700;
}
.footer-content span{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text; 
    color: transparent;
}
.social-links{
    display: grid;
    grid-template-columns: repeat(4,max-content);
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 32px 0px;
    cursor: pointer;
}
#copyright{
    color: #adadad;
}
.spotify-link,.apple-link,.yt-link,.twitter-link{
    display: flex;
    gap: 8px;
    color: #ffffff;
    transition: all 0.3s ease;
}
.spotify-link:hover,.apple-link:hover,.yt-link:hover,.twitter-link:hover{
    color: #00FF88;
}

/* responsive for small device */

@media screen and (max-width: 576px) {

    /* navbar */

    .logo{
        font-size: 2rem;
    }
    .subs ,.nav-list{
        display: none ;
    }
    .hamburger{
        display: block;
    }

    /* hero */

    .hero{
        background: url(../assets/hero-responsive.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
    }
    .circle{
        width: 250px;
        height: 250px;
        top: 30%;
        left: 50%;
    }
    .mic{
        width: 80px;
        height: 120px;
    }
    .title{
        font-size: 3rem;
    }
    .new p{
        padding: 6px 12px;
    }
    .intro{
        margin-top: 12em;
        margin: 12em 1em;
        text-align: center;
    }

    /* about */

    .about-content{
        padding: 80px 50px;
    }
    .about-card{
        grid-template-columns: repeat(2,1fr);
        margin: 0px 50px;
    }

    /* why section */

    .why h1{
        font-size: 2.5rem;
    }
    .grid-container{
        grid-template-columns: repeat(1,1fr);
        padding: 50px 20px 120px 20px;
    }
    .grid-content{
        grid-column-start: 1;
        grid-column-end: 1;
        padding: 24px;
    }
    .content1{
        grid-row-start: 1;
        grid-row-end: 1;
        padding: 24px;
    }

    /* podcast section */

    .podcast{
        padding: 60px 40px;
    }
    .podcast h2{
        font-size: 2.5rem;
    }
    .podcast-card{
        flex-direction: column;
        gap: 25px;
    }
    .podcast-card-content{
        width: 350px;
    }
    .podcast-card iframe{
        width: 350px;
    }

    /* host */

    .host{
        padding: 60px 30px;
    }
    .host h2{
        font-size: 2.5rem;
    }
    .host-content h3{
        font-size: 1.5rem;
    }
    .host-content{
        flex-direction: column;
        text-align: center;
    }
    .host-links{
        justify-content: center;
    }

    /* footer */
    
    .footer-content h1{
        font-size: 3rem;
    }
    .social-links{
        grid-template-columns: repeat(2,max-content);
    }
}