*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- shared styles --- */

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

/* --- main styles --- */

/* navbar */

.navbar{
    background-color: #1A0B2E;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .logo{
    margin: 30px 0px;
}
.navbar .logo span{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text; 
    color: transparent;
}
.nav-list{
    display: flex;

}
.nav-list li{
    margin: 30px 32px 30px 0px;
    list-style: none;
}
.nav-list li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
.subs{
    display: flex;
    align-items: center;
    gap: 4px;
}
.hamburger{
    display: none;
}

/* hero */
.hero{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.circle{
    width: 350px;
    height: 350px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border: 8px solid #2A186C;
    border-radius: 50%;
    position: absolute;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.new{
    position: absolute;
    background-color: #00FF88;
    border: none;
    border-radius: 50px;
    top: 8%;
    left: 75%;
    
}
.new p{
    padding: 8px 16px;
    font-weight: 600;
    color: #1A0B2E;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16em;
}
.title{
    font-size: 3.75rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 8px;
}
.intro-paragraph{
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 24px;
}
.intro-button{
    display: flex;
    
}
.spotify{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.spotify-img{
    margin-right: 10px;
}
.message{
    display: flex;
    align-items: center;
    background: transparent;
    color: #00FF88;
    border: 2px solid #00FF88;
}
.message-img{
    margin-right: 10px;
}
/* responsive for small device */

@media screen and (max-width: 576px) {

    /* navbar */
    .subs ,.nav-list{
        display: none ;
    }
    .hamburger{
        display: block;
    }
    /* hero */
    .circle{
        width: 250px;
    height: 250px;
    }
    .mic{
        width: 80px;
        height: 120px;
    }
    
}