*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- shared styles --- */

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

/* --- main styles --- */

/* navbar */

.navbar{
    background-color: #1A0B2E;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .logo{
    margin: 30px 0px;
}
.navbar .logo span{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text; 
    color: transparent;
}
.nav-list{
    display: flex;

}
.nav-list li{
    margin: 30px 32px 30px 0px;
    list-style: none;
}
.nav-list li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
.subs{
    display: flex;
    align-items: center;
    gap: 4px;
}
.hamburger{
    display: none;
}

/* hero */
.hero{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.circle{
    width: 350px;
    height: 350px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border: 8px solid #2A186C;
    border-radius: 50%;
    position: absolute;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.new{
    position: absolute;
    background-color: #00FF88;
    border: none;
    border-radius: 50px;
    top: 8%;
    left: 75%;
    
}
.new p{
    padding: 8px 16px;
    font-weight: 600;
    color: #1A0B2E;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16em;
}
.title{
    font-size: 3.75rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 8px;
}
.intro-paragraph{
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 24px;
}
.intro-button{
    display: flex;
    
}
.spotify{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.spotify-img{
    margin-right: 10px;
}
.message{
    display: flex;
    align-items: center;
    background: transparent;
    color: #00FF88;
    border: 2px solid #00FF88;
}
.message-img{
    margin-right: 10px;
}

/* about section */
.about{
    color: #ffffff;
    background-color: #1A0B2E;
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 200px;
}
.about-content h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-content p{
    margin-bottom: 8px;
}
.about-content .join-paragraph{
    margin-top: 32px;
    margin-bottom: 50px;
}
.about-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    padding: 80px 0px 120px 0px;
    text-align: center;
    margin: 0px 200px;
    border-top: 1px solid #303030;
}
.about-card-content h1{
    color: #00FF88;
    font-weight: 700;
    font-size: 3rem;
}

/* why section */

.why{
    background-color: #230E3D;
    padding-top: 120px;
}
.why h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}
.grid-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 50px 200px 120px 200px;
}
.grid-content{
    background: rgba(53, 17, 101, 0.4) ;
    color: #ffffff;
    border: none;
    border-radius: 40px;
}
.grid-content h3{
    margin: 16px 0px;
    font-weight: 700;
    font-size: 1.5rem;
}
.content1{
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 150px 40px 0px 40px;
}
.content2{
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 40px;
}
.content3{
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 40px;
}
.content4{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 40px;
}
.content5{
    padding: 40px;
}

/* podcast section */
.podcast{
    background-color: #1A0B2E;
    padding: 120px 200px 120px 200px;
}
.podcast h2{
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.podcast-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.podcast-card-content iframe{
    border-radius: 25px 25px 0px 0px;
}
.podcast-card-content{
    width: 380px;
    background-color: #250D44;
    color: #ffffff;
    border: none;
    border-radius: 25px;
}
.podcast-card-content h3{
    margin: 24px 24px 24px 24px;
    font-size: 1.5rem;
    font-weight: 700;
}
.podcast-card-content p{
    margin: 0px 24px 24px 24px;
}
.clock{
    display: flex;
    margin: 0px 24px 24px 24px;
}
.clock img{
    width: 20px;
    height: 20px;
}
.clock p{
    margin: 0px 8px;
    color: #00FF88;
}

/* responsive for small device */

@media screen and (max-width: 576px) {

    /* navbar */
    .subs ,.nav-list{
        display: none ;
    }
    .hamburger{
        display: block;
    }
    /* hero */
    .circle{
        width: 250px;
    height: 250px;
    }
    .mic{
        width: 80px;
        height: 120px;
    }

    /* about */
    .about-content{
        padding: 80px 50px;
    }
    .about-card{
        grid-template-columns: repeat(2,1fr);
        margin: 0px 50px;
    }

    /* why section */
    .why h1{
        font-size: 2.5rem;
    }
    .grid-container{
        grid-template-columns: repeat(1,1fr);
        padding: 50px 20px 120px 20px;
    }
    .grid-content{
        grid-column-start: 1;
        grid-column-end: 1;
        padding: 24px;
    }
    .content1{
        grid-row-start: 1;
        grid-row-end: 1;
        padding: 24px;
    }
    /* podcast section */
    .podcast{
        padding: 60px 20px;
    }
    .podcast h2{
        font-size: 2.5rem;
    }
    .podcast-card{
        flex-direction: column;
        gap: 16px;
    }
}